<h1>About Wizarding Registry</h1>

<div id="about">
  <p>
    Wizarding Registry was an idea I had to make it easier to find people from pottermore on other places and also to make it easier to find people you already know on pottermore.
  </p>
</div>