// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

#main{
  margin: 0 auto;
  padding-top: 30px;
  height:70%;
}

#beta {
  background: none repeat scroll 0 0 #FF9197;
  border: 1px dotted #FCF5AE;
  color: #822328;
  float: right;
  font-size: 20px;
  font-weight: bold;
  width: 95px;
  -webkit-transform: rotate(-45deg); 
  -moz-transform: rotate(-45deg); 
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=2);
}

#title{
    background: none repeat scroll 0 0 #E5DCAA;
    border: 2px solid #FCF5AE;
    border-radius: 5px 5px 5px 5px;
    box-shadow: 1px 5px 6px #777777;
    color: #6E6B4C;
    margin: 0 auto;
    text-align: center;
    width: 70%;
    padding: 12px;
    overflow:hidden;
}

#title h1{
  color: #363425;
}
form {
  margin-top:10px;
}

section {
  text-align: center;
}

#search{
  margin: 0 auto;
  margin-top: 50px;
  padding-top:5px;
  width: 50%;
  height: 100px;
  background: #D1C2E5;
  border: 2px solid #8980A8;
  vertical-align:middle;
  border-radius:5px;
  box-shadow: 1px 2px 3px #999;
}
.instruction{
    display: inline;
    color:#777;
    font-size: 12px;
    font-style: italic;
    font-weight: normal;
    padding-left: 4px;
    position: relative;
    text-align: left;
    margin-bottom:10px;
}
#search form{
  // margin-top: 8%;
}
#search input{
  vertical-align:middle;
}
#teh_search {
  font-size:16px;
  line-height:24px;
}

#sign-up{
  margin: 0 auto;
  margin-top: 50px;
  padding:5px;
  width: 50%;
  height: auto;
  background: #D1C2E5;
  border: 2px solid #8980A8;
  vertical-align:middle;
  border-radius:5px;
  box-shadow: 1px 2px 3px #999;
}