// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


h2 {
  font-size: 20px;
  margin-top:10px;
}

hr {
  margin: 5px auto;
  text-align: center;
  width: 80%;
}
hr:hover {
  color:red;
  background: red;
  box-shadow: 5px 5px 5px red;
}

#profile {
  margin-top:5px;
}

#account {
  width: 100%;
  height: 130px;

  p{
      color: #DDDDDD;
      text-shadow: 2px 2px 3px #333333;    
  }

  #icon {
    background: none repeat scroll 0 0 #E8DF9B;
    border: 1px solid #827D57;
    box-shadow: -1px 3px 2px #666666;
    height: 19px;
    left: 666px;
    line-height: 20px;
    margin-right: 10px;
    position: relative;
    top: -98px;
    width: 100px;
  }

  #name {
    font-size: 38px;
    margin-left: 110px;
    padding-left: 5px;
    padding-top: 40px;
    text-align: left;
    width: 560px;

    p{
      color: #DDDDDD;
      text-shadow: 2px 2px 3px #333333;
    }
    a{
      color: #DDDDDD;
    }
  }
  #house-points{
    background: none repeat scroll 0 0 #999999;
    border: 2px solid #CCCCCC;
    border-radius: 0 0 75px 75px;
    box-shadow: 1px 1px 5px #333333;
    font-size: 24px;
    height: 95px;
    left: 680px;
    position: relative;
    right: 0;
    text-align: center;
    top: -103px;
    width: 75px;
  }
  .hpoints{
    font-size: 10px;
    position: relative;
    top: -12px;
  }
  #house {
    float: left;
    width: 107px;
    height:120px;

    &.gryffindor {
      background: url("gryffindor.png") 0 0 no-repeat;
    }
    &.gryffindor:hover {
      background: url("gryffindor.png") 0 -115px;
    }
    &.slytherin {
      background: url("slytherin.png")  0 0;
    }
    &.slytherin:hover {
      background: url("slytherin.png") 0 -115px;
    }
    &.ravenclaw {
      background: url("ravenclaw.png")  0 0;
    }
    &.ravenclaw:hover {
      background: url("ravenclaw.png") 0 -115px;
    }
    &.hufflepuff {
      background: url("hufflepuff.png") 0 0 no-repeat;
    }
    &.hufflepuff:hover {
      background: url("hufflepuff.png") 0 -115px;
    }
  }
}

.slytherin {
  background: green;
}
.gryffindor {
  background: red;
}
.ravenclaw {
  background: blue;
}
.hufflepuff {
  background: yellow;
}
.hint {
  color:#777;
  font-size:12px;
  margin-left:5px;
}

#social {
  padding:5px;
  width: 69%;
  float:left;
  height:500px;

  .desc {
    font-size:10px;
    color:#999;
  }

  #links{
    margin: 80px auto;
    width: 370px;
  }

  ul {
    list-style:none;
    float:left;
    height:100px;
  }
  ul li {
    float:right;
    margin-left:10px;
    width:100px
  }

  a {
    padding-top: 50px;
    padding-left: 65px;
    &#twitter{
      background: url("icons/twitter_active.png") 0 0 no-repeat;
    }
    &#twitter-disabled{
      background: url("icons/twitter_dark.png") 0 0 no-repeat;
      pointer-events: none;
      cursor: default;
    }
    &#tumblr{
      background: url("icons/tumblr_active.png") 0 0 no-repeat;
    }
    &#tumblr-disabled{
      background: url("icons/tumblr_dark.png") 0 0 no-repeat;
      pointer-events: none;
      cursor: default;
    }
    &#facebook{
      background: url("icons/facebook_active.png") 0 0 no-repeat;
    }
    &#facebook-disabled{
      background: url("icons/facebook_dark.png") 0 0 no-repeat;
      pointer-events: none;
      cursor: default;
    }
    &#aim{
      background: url("icons/aim_active.png") 0 0 no-repeat;
    }
    &#aim-disabled{
      background: url("icons/aim_dark.png") 0 0 no-repeat;
      pointer-events: none;
      cursor: default;
    }
    &#skype{
      background: url("icons/skype_active.png") 0 0 no-repeat;
    }
    &#skype-disabled{
      background: url("icons/skype_dark.png") 0 0 no-repeat;
      pointer-events: none;
      cursor: default;
    }
    &#google_plus{
      background: url("icons/google_active.png") 0 0 no-repeat;
    }
    &#google_plus-disabled{
      background: url("icons/google_dark.png") 0 0 no-repeat;
      pointer-events: none;
      cursor: default;
    }
    &#youtube{
      background: url("icons/youtube_active.png") 0 0 no-repeat;
    }
    &#youtube-disabled{
      background: url("icons/youtube_dark.png") 0 0 no-repeat;
      pointer-events: none;
      cursor: default;
    }
    &#email{
      background: url("icons/vcard_active.png") 0 0 no-repeat;
    }
    &#email-disabled{
      background: url("icons/vcard_dark.png") 0 0 no-repeat;
      pointer-events: none;
      cursor: default;
    }
    &#site{
      background: url("icons/netvibes_active.png") 0 0 no-repeat;
    }
    &#site-disabled{
      background: url("icons/netvibes_dark.png") 0 0 no-repeat;
      pointer-events: none;
      cursor: default;
    }
  }
  a:hover {
    opacity:0.6;
  }
  a:active{
    opacity:1;
  }
}

#wand {
  width: 29%;
  float:right;

  .wand-text{
    font-size:16px;
    color: #777;
    text-shadow: 2px 2px 3px #DDD;
  }
}

#edit-form {
  margin: 0 auto;
  width: 500px;
  text-align:left;
  h2{
    text-align:center;
  }
  input{
    margin:5px;
    width: 150px;
    height: 22px;
  }
}
