// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/


#profile {
  border: 1px solid red;
}

#account {
  border: 1px solid green;
  width: 100%;
  height: 200px;

  #icon {
    border: 1px solid black;
    float: left;
    width: 100px;
    height:100px;
  }

  #name {
    border: 1px solid black;
    margin-left: 110px;
  }
  #house-points{
    border: 1px solid black;
    float:right;
  }
  #house {
    border: 1px solid black;
    float:right;
  }
}

#social {
  border: 1px solid blue;
  width: 69%;
  float:left;
  height:auto;
}

#wand {
  width: 29%;
  float:right;
  border: 1px solid purple;
}